/* Footer */
footer {
  width: 90%;
  margin: 0 auto;
}

.gradient-bar {
  width: 100%;
  height: 5px;
  @include gradient;
}

footer .nav-links {
  text-align: right;
}

footer .nav-links li a:hover {
  color: $teal;;
}

.footer-copy {
  text-align: right;
  margin: 25px 0 10px;
}
